*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    display: flex;
    place-items: center;
    min-height: 100vh;
}

main{
    background-color: rgb(1, 1, 41);
    padding: 50px;
    display: grid;
    grid-template-columns: 250px 50px 50px 190px;
    grid-template-rows:  200px 100px 150px 100px;
    grid-template-areas: 
    'a a a b'
    'c d d d'
    'c e e e'
    ;
    gap: 15px;
    width: 50%;
    margin: auto;
}

main div{
    padding: 3em;
    text-align: center;
}

.cta {
    background-color: orange;
    padding: 10px 20px;
    margin: 30px;
    color: white;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
}

.item-a{
    background-color: orangered;
    grid-area: a;
}

.item-b{
    background-color: rgb(255, 166, 0);
    grid-area: b;
}

.item-c{
    background-color: green;
    grid-area: c;
}

.item-d{
    background-color: lightskyblue;
    grid-area: d;
}

.item-e{
    background-color: lightskyblue;
    grid-area: e;
}